@font-face{

    font-family: 'Aceh-light';
    
    src: url('../fonts/Aceh-Light.ttf') format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
*{
    box-sizing: border-box;
    font-family: "Aceh-light";
}
body{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url(img/header_back.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-position-x: center;
}
.Top-menu{
    display: flex;
    justify-content: space-between;
}
.conteiner{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
#logo{
    margin-top: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
}
.menu li{
    list-style-type: none; 
}
.menu a{
    border-bottom: 2px solid transparent;
    color: #fff;
    font-size: 0.8889em;
    font-weight: normal;
    padding-bottom: 0.125em;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-bottom-color 50ms linear 0s;
    float:left;
    margin:0 5px;
    overflow: hidden;
}
.menu a:hover, .menu a.active{
    border-bottom-color: #fff;
}
.menu{
    margin: auto 0;
    width: 60%;
}
.app-showcase{
display: flex;
justify-content: space-between;
margin: 0 auto;
padding-top: 150px;
}
.showcase_text{
color: #fff;
max-width: 550px;
}
.footer{
    width: 100%;
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    
}
.about-us{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about_us{
    max-width: 500px;
    margin-left: 10px;
}
.btn{
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
<<<<<<< HEAD
    
}
.btn:hover{
    background: linear-gradient(to right, rgb(48, 165, 153), rgb(17, 150, 180));
=======
    cursor: pointer;
>>>>>>> e155859d36211617fd0921d1f537c8407dff82ce
}
.punkti{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
    color: white;
}
.main_block{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}
.icon{
    filter: invert(1);
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.punkt{
    display: flex;
    margin-top: 80px;
}
.slider{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.map{
    position: relative;
}
.forma{
    background-color: white;
    width: 600px;
    display: flex;
    justify-content: center;
}
input, textarea{
    width: 450px;
    border: none;
    background-color: rgb(248, 248, 248);
    margin: 20px 0 20px 0;
}
input{
    height: 30px;
}
#btn{
    width: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
    border-radius: 4px;
    cursor: pointer;
}
.contacts{
    margin: 50px 350px 50px 20px;
    padding: 30px 20px 20px 20px;
    /* width: 300px; */
    background-color: white;
    /* display: inline-block; */
}
.footer_things{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15% 0 15%;
    /* align-items: center; */
}
.iconki{
    width: 20px;
    height: 20px;
    margin: auto 0;
    color: #000;
<<<<<<< HEAD
}
@media screen and (max-width: 1000px) { /* Минимум 512 цветов */
    .about-us {
         display: block; 
    }
    .menu{
        visibility: hidden;
    }
  }
=======
    margin: 10px 10px 10px 10px;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.forma input, textarea{
    margin-left: 20px;
    margin-right: 20px;
}
.pricing{
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blocks .blocks__1,.blocks__2,.blocks__3{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: relative;
}
.blocks .blocks__1{
    width: 350px;
    height: 60vh;
}
.blocks .blocks__2{
    width: 400px;
    height: 70vh;
    z-index: 1;
}
.blocks .blocks__3{
    width: 350px;
    height: 60vh;
}
.circle{
    width: 100%;
    height: 40%;
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
    border-radius: 400%;
    position: absolute;
    z-index: 1;
}
.blc{
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
}
.block__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.avalible{
    display: flex;
    flex-direction: column;
    align-items: center;
}
>>>>>>> e155859d36211617fd0921d1f537c8407dff82ce
