body{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url(img/header_back.png);
<<<<<<< HEAD
    height: 2000px;
=======
    height: 1000px;
>>>>>>> b84a05e06bc460e712e8abe46589fc03c4f08a76
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -50%;
}
header{
}
